<h1 id="listing_posts">Listing posts</h1>

<header>
      <div id="logo"</div>
      <nav>
        <!-- menu -->
      </nav>
</header>

<div id="site_content">
      <div id="sidebar_container">
        <div class="sidebar"> 
        
        </div>
      </div>
      
      <div class="content"> 
      
      
      
      <article class="post_body">
	<% @posts.each do |post| %>	
	  <tr>
	  <td class="ptitle"><h2><%= post.title %></h2></td>
	  </tr>
	  <tr>
	  <td class="pbody"><%= post.body %></td>  <br>
	  <td><%= link_to 'Show', post %></td>
	  <td><%= link_to 'Edit', edit_post_path(post) %></td>
	  <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr> <br>
	<% end %>
      </article>
   
            
      </div>
</div>
    <!-- end content -->
    
    
    <div id="scroll">
      <!-- scroll to top -->
    </div>

<br>

<%= link_to 'New Post', new_post_path %>
